body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightgray;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0px 50px;
  min-height: 100vh;
  width: 540px;
}

h1, h2, h4 {
  text-align: center;
}

strong {
  color:coral;
}

.top_heading_text {
  font-size: 20px;
  margin: 0px;
  padding: 4px;
  text-align: center;
}

.logged_in_user_text {
  margin: 0px;
  padding: 4px;
  text-align: right;
}

.users_list_group,
.petition_groups_list_group,
.petitions_list_group,
.test_signature_user_group {
  display:flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0px;
  margin-top: 10px;
}

.users_list_item,
.petition_groups_list_item,
.petitions_list_item {
  display:flex;
  background-color: lightgray;
  margin-bottom: 6px;
  color: black;
}

.users_list_item,
.test_signature_user_box {
  padding: 4px 10px;
  justify-content: left;
  flex-direction: column;
}

.petitions_list_item,
.petition_groups_list_item {
  padding: 0px;
  justify-content:left;
  flex-direction: row;
  display: flex;
}

.petition_groups_list_item span,
.petitions_list_item span {
  padding: 10px;
  min-width: 30px;
}

.petitions_list_btn,
.petition_groups_list_btn {
  background-color: dimgray;
  color: lightgray;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.test_signature_user_group {
  margin-top: -14px;
}

.test_signature_user_box {
  background-color: white;
  padding-top: 0px;
}

.input_form {
  display: flex;
  flex-direction: column;
}

.add_petition_group_btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #2196F3;
  padding: 16px;
}

.add_petition_group_text {
  border-style: none;
  text-align: center;
  text-decoration-line: none;
  color: black;
}

.form_text_input {
  border-style: none;

  margin-bottom: 4px;
  padding: 10px;
  background-color: lightgray;
}

.form_text_area {
  border-style: none;

  margin-bottom: 4px;
  padding: 10px;
  background-color: lightgray;
}

.form_submit_btn,
.simple_btn {
  border-style: none;
  padding: 20px;
  background-color: coral;
  font-size: 1em;
  cursor: pointer;
}

.form_error_message {
  color: red;
  margin-top: 0px;
}

.loading_box {
  display: flex;
  flex-direction: column;
  height: 30px;
}

.link_btn {
  display:flex;
  border-style: none;
  padding: 10px;
  font-size: 20px;
  background-color: lightgray; 
  text-decoration-line: none;
  color:black;
  cursor: pointer;
}

.petition_group_list_preview {
  display: flex;
  flex-direction: row;
}

.top_nav {
  display: flex;
  justify-content: stretch;
  background-color: gray;
  margin-bottom: 0px;
}

.nav_link {
  border-style: none;
  padding: 5px;
  margin:0px;
  font-size: 20px;
  text-align: center;
  text-decoration-line: none;
  color: lightgray;
  border-radius: 0px;
  background-color: gray;
  font-family: inherit;
  cursor: pointer;
}

.notification_emails_section {
  display:flex;
  flex-direction: column;
  border-style: none;
}

.notification_emails_section h3 {
  font-weight:normal;
}

.add_email_button {
  border-style: none;
  padding: 20px;
  background-color: #2196F3;
  font-size: 1em;
  cursor: pointer;
}
/* Everything below this is just custom checkmark code for the radio buttons */

.form_radio_button_set {
  display:flex;
  flex-direction: column;
  border-style: none;
}

 /* Customize the label (the container) */
 .form_checkbox_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.form_checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.form_checkbox_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.form_checkbox_container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.form_checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.form_checkbox_container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
} 
  