body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightgray;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0px 50px;
  min-height: 100vh;
  max-width: 540px;
}

.input_form {
  display: flex;
  flex-direction: column;
}

.form_text_input {
  border-style: none;

  margin-bottom: 4px;
  padding: 10px;
  background-color: lightgray;
}

.form_text_area {
  border-style: none;

  margin-bottom: 4px;
  padding: 10px;
  background-color: lightgray;
}

.form_submit_btn {
  border-style: none;
  padding: 20px;
  background-color: coral;
  font-size: 1em;
}

.loading_box {
  display: flex;
  flex-direction: column;
  height: 30px;
}

li {
  background-color: dimgray;
  min-height: 40px;
  margin-bottom: 10px;
  padding: 16px;
  color: lightgray;
}

ul {
  list-style: none;
  padding-left: 0px;
}


h1, h2, h4 {
  text-align: center;
}

strong {
  color:coral;
}

